.container__header
    +flex($cross: center)
    padding-bottom: rem(200px)
.header
    background: url(../img/1x/Bg-1.jpg) center bottom
    background-size: cover
    background-repeat: no-repeat
    min-height: 100vh
    min-width: 100%
    padding-top: rem(45px)
    margin-bottom: rem(50px)
    +media(576px)
        background: url(../img/2x/Bg-1.jpg) center bottom
        background-size: cover
        background-repeat: no-repeat
    &__link
        font-family: var(--font-bolder)
        font-size: rem(16px)
        letter-spacing: 1px
        font-weight: 700
        text-transform: uppercase
        color: #f9fafe
        border-bottom: 3px solid #ffffff00
        margin-right: rem(20px)
        &:hover
            border-color: var(--color-accent)
    &__btn
        border: 1px solid #f9fafe
        border-radius: 5px
        color: #f9fafe
        &:hover
           color: var(--color-accent) 
           border-color: var(--color-accent) 
    &__nav
        margin-left: auto
    &__title
        font-family: var(--font-bolder)
        color: var(--color-other)
        font-weight: bold
        font-size: rem(36px)
        text-align: center
        text-transform: uppercase
        +media(576px)
            letter-spacing: rem(6px)
            line-height: rem(64px)
            margin-bottom: 40px
            font-size: rem(72px)
    &__top
        margin-bottom: rem(88px)
    &__title-sm
        font-family: var(--font-regular)
        color: var(--color-other)
        font-weight: regular
        font-size: rem(15px)
        text-align: center
        text-transform: uppercase
        +media(576px)
            font-size: rem(30px)
            letter-spacing: rem(1px)
            line-height: rem(22px)
.mobile
    position: absolute
    top: 0
    left: 0
    +flex(center,center)
    flex-direction: column
    width: 100%
    height: 100vh
    z-index: 520
    background: #0e0404f3
    visibility: hidden
    &.is-active
        visibility: visible
    &__link
        color: white
        text-transform: uppercase
        font-size: rem(18px)
        &:hover
            color: var(--color-accent)
    &--margin
        margin: rem(20px) auto    

.nav--hide
    visibility: hidden
    width: 0
    height: 0
    +media(960px)
        visibility: visible
        width: auto
        height: auto
.hamburger
    +media(960px)
        visibility: hidden

.search
    &__btn
        width: rem(50px)
        font-size: 14px
        +media(992px)
            width: rem(200px)
    &__wrap
        +flex(center,center)
        border-radius: 10px
        margin: 0 auto
        +media(558px)
            width: 80%
        +media(992px)
            width: 70%
    &__input
        width: 100%
        border: none
        height: rem(57px)
        border-top-left-radius: 5px
        border-bottom-left-radius: 5px
        font-family: var(--font-bolder)
        color: #717171
        font-weight: 400
        font-size: rem(14px)
        text-transform: uppercase
    &--hide
        font-size: 0
        +media(992px)
            font-size: rem(14px)
.header__search
    margin-bottom: rem(230px)



    
    
